<?xml version="1.0"?>

<launch>
    <include file="$(find polyorbite_rover_control)/launch/description.launch" />

    <rosparam command="load" file="$(find polyorbite_rover_control)/config/control.yaml" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="rover_joint_publisher rover_velocity_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>