<?xml version="1.0" ?>
<launch>
  <arg name="model" default="$(find polyorbite_rover_control)/urdf/rover1.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find polyorbite_rover_control)/rviz/urdf.rviz" />

  <include file="$(find polyorbite_rover_control)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!--  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" ns="stereo"/> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />-->
  
  
  <!--<rosparam command="load"
            file="$(find polyorbite_rover_control)/config/joints.yaml"
            ns="rover_joint_state_controller" />
  <rosparam command="load"
            file="$(find polyorbite_rover_control)/config/diffdrive.yaml"
            ns="rover_diff_drive_controller" /> 
              
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/rover_diff_drive_controller/cmd_vel"/>
  </node>

            -->

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find polyorbite_rover_control)/config/control_6204.yaml" command="load" /> 


  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    args="controller_6204_name
          joint_state_controller"/>



  <node pkg="tf2_ros" type="static_transform_publisher" name="left_cam_rotation" args="0 0 0 0.5 -0.5  0.5  -0.5 camera_left_link left_cam_rotated" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="right_cam_rotation" args="0 0 0 0.5 -0.5  0.5  -0.5 camera_right_link right_cam_rotated" />

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/control_6202/command"/>
  </node>

</launch>
