<?xml version="1.0"?>
<robot name="paul" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="bodywidth" value="0.5" />
  <xacro:property name="bodylen" value="1" />
  <xacro:property name="bodyhei" value="0.2" />
  <xacro:property name="wheeldiam" value="0.254" />
  <xacro:property name="wheellen" value="0.002" />
  <xacro:property name="leglen" value="0.6" />
  <xacro:property name="pi" value="3.1415" />
  <xacro:property name="rocker1_angle" value="0.78539816339" />
  <xacro:property name="rocker2_angle" value="0.78539816339" />
  <xacro:property name="rocker_len_long" value="0.54829" />
  <xacro:property name="rocker_len_short" value="0.273942" />
  <xacro:property name="rocker_bogie_len" value="0.27394" />
  <xacro:property name="rocker_thick1" value="0.05" />
  <xacro:property name="rocker_thick2" value="0.05" />



  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="${bodylen} ${bodywidth} ${bodyhei}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${bodylen} ${bodywidth} ${bodyhei}"/>
      </geometry>
    </collision>
     <xacro:default_inertial mass="30"/>
  </link>

<!-- Insert Suspensions and wheels --> 
 <xacro:include filename="$(find polyorbite_rover)/urdf/suspensions_wheels.urdf.xacro"/>


<!-- Insert Camera --> 
 <xacro:include filename="$(find polyorbite_rover)/urdf/camera.urdf.xacro"/>

<!-- Insert GPS --> 
 <xacro:include filename="$(find polyorbite_rover)/urdf/gps.urdf.xacro"/>

</robot>
