<launch>
  <arg name="model" default="$(find polyorbite_rover)/urdf/rover1.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find polyorbite_rover)/rviz/urdf.rviz" />

  <include file="$(find polyorbite_rover)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <rosparam command="load"
            file="$(find polyorbite_rover)/config/joints.yaml"
            ns="rover_joint_state_controller" />
  <rosparam command="load"
            file="$(find urdf_sim_tutorial)/config/diffdrive.yaml"
            ns="rover_diff_drive_controller" />


  <node name="r2d2_controller_spawner" pkg="controller_manager" type="spawner"
    args="rover_joint_state_controller
          rover_diff_drive_controller
          --shutdown-timeout 3"/>
          
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/rover_diff_drive_controller/cmd_vel"/>
  </node>
</launch>
